<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <h1>Movie reviews   </h1>
      <a class="nav-item nav-link" routerLink="/explore">Explore   </a>
      <a class="nav-item nav-link" routerLink="/movies">Watchlist   </a>
      <a class="nav-item nav-link" routerLink="/home">Account   </a>
      <div class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-item btn-secondary" type="submit">Search</button>
      </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-50 offset-sm-0">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>